annotated-types==0.6.0
anyio==4.2.0
beautifulsoup4
certifi==2023.11.17
distro==1.9.0
docstring-parser==0.15
h11==0.14.0
httpcore==1.0.2
httpx==0.27.0
idna==3.6
lxml==5.1.0
pydantic
pydantic-core
requests
rich
sniffio
soupsieve
tenacity
termcolor
timeout-decorator
tqdm
typing-extensions==4.9.0
unittest-xml-reporting==3.2.0
coverage==7.4.4
pylint==3.1.0
litellm==1.35.20
ollama==0.1.8
metagpt
tenacity
dashscope
langchain
tiktoken
jedi
argparse
requests